@import "./theme.module.scss";

.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px 0 15px

}

.divForm,
.titleContainer,
.nameContainer,
.lastNameContainer,
.emailContainer,
.messageContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.nameContainer{
    flex: 1;
    margin-right: 20px;
}
.lastNameContainer{
    flex: 1;
}

.titleContainer {
    justify-content: center;
    align-items: center;
}

.namesContainer {
    display: flex;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    
}

.button {
    background-color: $buttonColor;
    color: aliceblue;
}

.p{
    margin-top: 0px;
    color: red;
}

.inputStyle {
    border-radius: 5px;
    border-width: 1px;
   &::placeholder {
      color: $navbarColor;
      opacity: 1; 
    }
}

@media screen and (max-width: 380px) {
    .namesContainer {
    flex-direction: column;
}
}