@import "./theme.module.scss";

//Phone
@media screen and (max-width: 800px) {
.mapContactoContainer{
    display: flex;
    flex-direction: column;
}

.toTopButtonVisible{
background-color: red;
border: 1px solid whitesmoke;
border-radius: 300px;
}
.toTopButtonHidden{
    background-color: $logoColor;
    border: 1px solid whitesmoke;
    border-radius: 300px;
}}

//Desktop
.indexStyles{
  background-color: #FFE9CE;
  margin: -10px;
}

.mapContactoContainer{
    display: flex;
}

.mapContainer{
    flex: 1;
}
.contactoContainer{
    flex: 1;
}
