
//colores principales
$primaryColor : #FAECE1;
 $secondaryColor :  #D2C6BD;

 $fontColorPrimary:#1D0E03;
 $fontColorSecondary:#BB987D;

 $logoColor:#686464;

 // Colores para el Navbar

 $navbarColorPrimary:#F8CBB8;
 $navbarColorHover:#323232;