@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap");

//Colores principales
$primaryColor: #faece1;
$secondaryColor: #d2c6bd;

//Fonts
$globalFont: "Playfair", serif;

//Font Colors
$fontColorPrimary: #1d0e03;
$fontColorSecondary: #bb987d;

//Navbar Colors
$logoColor: #686464;

$navbarColor: #776a51;
$navbarColorPrimary: #f8cbb8;
$navbarColorHover: #323232;

$buttonColor: #016855;

//Carousel
$carouselDesktopWidth: 70vw;
$carouselDesktopHeight: 73vh;
$carouselMovilWidth: 100vw;
$carouselMovilHeight: 100vh;
